# Binaries for programs and plugins
rekki-test

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# My notes
notes.txt

# Temp files
*.swp
*.swo
# Dependency directories (remove the comment below to include it)
# vendor/
